<div class="glb-footer">
    <div class="glb-footer-wrapper">
        <div class="glb-footer-center">
            <div class="glb-footer-menu">
                <a href="http://www.noosh.com/" target="_blank">
                    <div class="glb-footer-logo"></div>
                </a>
                <div class="glb-footer-resources">
                    <div class="glb-footer-title" style="display: none;"></div>
                    <div class="glb-footer-item-list">
                        <ul style="display:table;font-size:12px;float:left;">
                            <li style="display:table-cell;padding:5px"><a href="https://noosh.zendesk.com/categories/20139897-Noosh-Group-Edition" target="_blank">Help Articles</a></li>
                            <li style="display:table-cell;padding:5px">|</li>
                            <li style="display:table-cell;padding:5px"><a href="https://noosh.zendesk.com/categories/20139897-Noosh-Group-Edition" target="_blank">Noosh Community</a></li>
                            <li style="display:table-cell;padding:5px">|</li>
                            <li style="display:table-cell;padding:5px"><a onclick="script: Zenbox.show(); return false;">Report a Problem</a></li>

                        </ul>
                        <ul style="display:table;font-size:12px;float:right;">
                            <li style="display:table-cell;padding:5px">&#169;2015 All Rights Reserved</li>
                            <li style="display:table-cell;padding:5px">|</li>
                            <li style="display:table-cell;padding:5px">Terms of Service</li>
                        </ul>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </div>
</div>