<div class="glb-footer">
    <div class="glb-footer-wrapper">
        <div class="glb-footer-center">
            <div class="glb-footer-menu">
                <a href="http://www.noosh.com/" target="_blank">
                    <div class="glb-footer-logo"></div>
                </a>

                <div class="glb-footer-resources">
                    <div class="glb-footer-title">Resources</div>
                    <div class="glb-footer-item-list">
                        <ul>
                            <li><a href="https://noosh.zendesk.com/categories/20139897-Noosh-Group-Edition" target="_blank">Help Articles</a></li>
                            <li><a href="https://noosh.zendesk.com/categories/20139897-Noosh-Group-Edition" target="_blank">Noosh Community</a></li>
                            <li><a onclick="script: Zenbox.show(); return false;">Report a Problem</a></li>
                        </ul>
                    </div>
                </div>
                <div class="glb-footer-search" style="display:none;">
                    <div class="glb-footer-title">Search</div>
                    <div class="glb-footer-items">
                        <input>

                        <div class="glb-footer-search-button">Find
                        </div>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="glb-footer-bottom-menu">
                <span class="foot-center-text">?2014 All rights reserved. |  <a class="tosTrigger">Terms of Service</a>  |  <a href="https://noosh.zendesk.com/home" target="_blank">Help</a>    </span>
            </div>
        </div>
    </div>
</div>