<div id="spHead" class="sp-head">
    <div class="sp-head-top-central">
        <div class="glb-nmh-logo">
            <img src="images/noosh_logo.png" class="logoEditor-logo">
        </div>
        <div class="glb-nmh-menu">
            <ul>
                <li class="glb-nmh-static"><input type="text" placeholder="Search..."><div class="glb-nmh-icon glb-nmh-icon-search"></div></li>
                <li class="glb-nmh-rb glb-com-button">Help</li>
                <li class="glb-nmh-rb glb-com-button">Support</li>
                <li class="glb-nmh-settings">
                    <div class="glb-nmh-icon-cog-gray"></div>
                    <ul class="glb-nmh-settings-drop" style="display: none;">
                        <li>My Info</li>
                        <li>My Group</li>
                        <li>Logout</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="mbl-menu">
            <ul>
                <li>
                    <div class="mbl-search glb-nmh-icon glb-nmh-icon-search"></div>
                    <input type="text" placeholder="Search...">
                </li>
                <li>
                    <div class="mbl-nav glb-nmh-icon-nav"></div>
                    <ul class="mbl-nav-dropdown">
                        <li><div class="mbl-nav-close glb-nmh-icon-close"></div></li>
                        <li>My Desk</li>
                        <li>Workspace</li>
                        <li>Contacts</li>
                        <li>Reports</li>
                        <li>Business Analytics</li>
                        <li>Client PSF's</li>
                        <li class="mbl-nav-gen">Help</li>
                        <li>Logout</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="glb-ent-top-wrapper">
        <ul class="glb-ent-menu glb-ent-menu-top">
            <li class="glb-com-button">My Desk
                <ul>
                    <li><a href="demo-NshEnt.html" class="glb-com-button">Summary</a></li>
                    <li><a class="glb-com-button">Events</a></li>
                    <li><a class="glb-com-button">Tasks</a></li>
                    <li><a class="glb-com-button">Messages</a></li>
                    <li><a class="glb-com-button">Dashboard</a></li>
                </ul>
            </li>
            <li class="glb-com-button">Workspace
                <ul>
                    <li><a class="glb-com-button">Projects</a></li>
                    <li><a class="glb-com-button">RFEs &amp; Estimates</a></li>
                    <li><a class="glb-com-button">RFQs &amp; Quotes</a></li>
                    <li><a class="glb-com-button">Orders</a></li>
                </ul>
            </li>
            <li class="glb-com-button">Contacts
                <ul>
                    <li><a class="glb-com-button">Address Books</a></li>
                    <li><a class="glb-com-button">Categories</a></li>
                </ul>
            </li>
            <li class="glb-com-button">Reports
                <ul>
                    <li><a class="glb-com-button">Favorite</a></li>
                    <li><a class="glb-com-button">Standard</a></li>
                    <li><a class="glb-com-button">Saved</a></li>
                </ul>
            </li>
            <li class="glb-com-button">Business Analytics
                <ul>
                    <li><a class="glb-com-button">Dashboard</a></li>
                    <li><a class="glb-com-button">Reports</a></li>
                    <li><a class="glb-com-button">Scheduled Reports</a></li>
                    <li><a class="glb-com-button">Report Writer</a></li>
                </ul>
            </li>
            <li class="glb-com-button">Client PSF's</li>
        </ul>
        <div class="glb-add">
            <div class="glb-nmh-icon-add"></div>
        </div>
        <ul class="glb-ent-menu glb-ent-action-top">
            <li class="glb-ent-action">Recent Projects</li>
            <li class="glb-ent-action">Create Project</li>
            <li class="glb-ent-action">New Dashboard</li>
        </ul>
    </div>
    <div class="glb-breadcrumbs glb-header">
        <div class="glb-bc-location">
            <div>My Desk | Summary</div>
        </div>
    </div>
</div>