<script type="text/x-underscore-template" id="common-panel-tpl">
        <div class="panel panel-primary nh-panel" panelId="<%=id%>" >
            <div class="panel-heading clearfix nh-panel-heading">
                <div class="pull-right nh-panel-handler">
                    <span>M</span>
                </div>

                <div class="dropdown pull-right nh-panel-setting">
                    <div role="button" class="btn btn-primary dropdown-toggle nh-panel-btn" data-toggle="dropdown"
                         aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-cog"></span>
                    </div>
                    <ul class="dropdown-menu " role="menu" aria-labelledby="dLabel">
                        <li class="dropdown-submenu pull-left">
                            <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-left"></span>display</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">5</a></li>
                                <li><a href="#">10</a></li>
                                <li><a href="#">15</a></li>
                                <li class="divider"></li>
                                <li><a href="#">View All</a></li>
                            </ul>
                        <li><a href="#" class="remove-js">Remove</a></li>
                        </li>
                    </ul>
                </div>

                <div class="glb-wdgt-hd-dropdown pull-right">
                    Most Recent
                    <div class="glb-carrot"></div>
                    <ul class="glb-wdgt-dropdown-list">
                        <li>
                            Option 1
                        </li>
                        <li>
                            Option 2
                        </li>
                        <li>
                            Option 3
                        </li>
                    </ul>
                </div>

                <h3 class="panel-title"><%-title%></h3>
            </div>
            <div class="panel-body">

            </div>
        </div>
</script>
<script type="text/x-underscore-template" id="common-dialog-tpl">
    <div class="modal-dialog" style="position: absolute">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"><%-title%></h4>
            </div>
            <div class="modal-body">
                <%=content%>
            </div>
            <%if(obj.buttons){%>
                <div class="modal-footer">
                    <%_.each(buttons,function(btn,key){%>
                        <button type="button" class="btn <%-btn.className%>" key="<%-key%>"><%-key%></button>
                    <%})%>
                    <!--<button type="button" class="btn btn-default">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>-->
                </div>
            <%}%>
        </div>
    </div>
</script>
<script type="text/x-underscore-template" id="task-panel-tpl">
    <div class="glb-wdgt-ct clearfix">
    <ul class="glb-wdgt-task">
        <li>
            <div class="glb-wdgt-task-item">
                <div>Review Project: 2016 New Year Catalogue</div>
                <div></div>
            </div>
            <div class="glb-wdgt-task-action">
                <a href="demo-NshEntProj.html"><div>Review Project</div></a>
            </div>
        </li>
        <li>
            <div class="glb-wdgt-task-item">
                <div>Send Designs for Christmas Mail Packet 2015</div>
                <div>Due 11/10/2015</div>
            </div>
            <div class="glb-wdgt-task-action">
                <a href=""><div>View Task</div></a>
                <div class="yellow glb-task-status">Currently in Progress</div>
            </div>
        </li>
        <li>
            <div class="glb-wdgt-task-item">
                <div>Complete Design for 2016 New Year Catalogue</div>
                <div>Due 11/30/2015</div>
            </div>
            <div class="glb-wdgt-task-action">
                <a href=""><div>View Task</div></a>
                <div class="red glb-task-status">Not Started</div>
            </div>
        </li>
        <li>
            <div class="glb-wdgt-task-item">
                <div>Thanksgiving Mail Campaign Designs 2015</div>
                <div>Due 10/20/2015</div>
            </div>
            <div class="glb-wdgt-task-action">
                <a href=""><div>View Task</div></a>
                <div class="green glb-task-status">Completed</div>
            </div>
        </li>
        <li>
            <div class="glb-wdgt-task-item">
                <div>Estimate Received for Thanksgiving Mail Campaign</div>
                <div></div>
            </div>
            <div class="glb-wdgt-task-action">
                <a href=""><div>Review Estimate</div></a>
            </div>
        </li>
    </ul>
    <div class="glb-wdgt-more">
        <div>View More</div>
    </div>
    </div>
</script>

<script type="text/x-underscore-template" id="message-panel-tpl">
    <div class="glb-wdgt-ct clearfix">
        <ul class="glb-wdgt-task">
            <li>
                <div class="glb-wdgt-task-item">
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                    <div>Project Title</div>
                </div>
                <div class="glb-wdgt-task-action">
                    <a href=""><div>View Message</div></a>
                    <div class="green glb-msg-reply-tgl">Reply</div>
                </div>
            </li>
            <li>
                <div class="glb-wdgt-task-item">
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                    <div>Project Title</div>
                </div>
                <div class="glb-wdgt-task-action">
                    <a href=""><div>View Message</div></a>
                    <div class="green glb-msg-reply-tgl">Reply</div>
                </div>
            </li>
            <li>
                <div class="glb-wdgt-task-item">
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                    <div>Project Title</div>
                </div>
                <div class="glb-wdgt-task-action">
                    <a href=""><div>View Message</div></a>
                    <div class="green glb-msg-reply-tgl">Reply</div>
                </div>
            </li>
            <li>
                <div class="glb-wdgt-task-item">
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                    <div>Project Title</div>
                </div>
                <div class="glb-wdgt-task-action">
                    <a href=""><div>View Message</div></a>
                    <div class="green glb-msg-reply-tgl">Reply</div>
                </div>
            </li>
            <li>
                <div class="glb-wdgt-task-item">
                    <div>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
                    <div>Project Title</div>
                </div>
                <div class="glb-wdgt-task-action">
                    <a href=""><div>View Message</div></a>
                    <div class="green glb-msg-reply-tgl">Reply</div>
                </div>
            </li>
        </ul>
        <div class="glb-wdgt-more">
            <div>View More</div>
        </div>
        </div>
</script>