<script type="text/x-underscore-template" id="common-panel-tpl">
        <div class="panel panel-primary nh-panel" panelId="<%=id%>" >
            <div class="panel-heading clearfix nh-panel-heading">
                <div class="dropdown pull-right nh-panel-setting">
                    <div role="button" class="btn btn-primary dropdown-toggle nh-panel-btn" data-toggle="dropdown"
                         aria-haspopup="true" aria-expanded="true">
                        <span class="glyphicon glyphicon-cog"></span>
                    </div>
                    <ul class="dropdown-menu " role="menu" aria-labelledby="dLabel">
                        <li class="dropdown-submenu pull-left">
                            <a tabindex="-1" href="#"><span class="glyphicon glyphicon-triangle-left"></span>display</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">5</a></li>
                                <li><a href="#">10</a></li>
                                <li><a href="#">15</a></li>
                                <li class="divider"></li>
                                <li><a href="#">View All</a></li>
                            </ul>
                        <li><a href="#">Remove</a></li>
                        </li>
                    </ul>
                </div>

                <div class="glb-wdgt-hd-dropdown">
                    Most Recent
                    <div class="glb-carrot"></div>
                    <ul class="glb-wdgt-dropdown-list">
                        <li>
                            Option 1
                        </li>
                        <li>
                            Option 2
                        </li>
                        <li>
                            Option 3
                        </li>
                    </ul>
                </div>

                <h3 class="panel-title"><%-title%></h3>
            </div>
            <div class="panel-body">

            </div>
        </div>
</script>
