<!--<script type="text/x-underscore-template" id="common-panel-tpl">-->
    <div class="panel panel-primary nh-panel">
        <div class="panel-heading clearfix nh-panel-heading">
            <div class="dropdown pull-right nh-panel-setting">
                <div role="button" class="btn btn-primary dropdown-toggle"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-cog"></span>
                </div>
                <ul class="dropdown-menu " role="menu" aria-labelledby="dLabel">
                    <li class="dropdown-submenu ">
                        <a tabindex="-1" href="#">display</a>
                        <ul class="dropdown-menu">
                            <li><a href="#">5</a></li>
                            <li><a href="#">10</a></li>
                        </ul>
                        <li><a href="#">Remove</a></li>
                    </li>
                </ul>
            </div>
            <h3 class="panel-title">Panel title</h3>
        </div>
        <div class="panel-body">
            Panel content
        </div>
    </div>
<!--
</script>-->
