.panel-one-third-area {
  float: left;
  width: 30%;
}
.panel-chart {
  height: 300px;
}
.nh-panel-handler {
  display: inline-block;
  height: 100%;
}
.nh-panel-handler > span {
  display: inline-block;
  vertical-align: middle;
}
