/** Start Responsive **/
@media all and (max-width: 420px) {
  .sp-head {
    min-width: auto;
  }
  .sp-head .glb-header .glb-bc-location {
    padding: 0;
  }
  .sp-head .glb-header .glb-bc-location > div {
    padding-left: 5px;
    padding-right: 0px;
    font-size: 14px;
  }
  .sp-head .glb-ent-top-wrapper {
    display: none;
  }
  .sp-head .sp-head-top-central {
    border-bottom: 1px solid #ccc;
    height: 35px;
  }
  .sp-head .sp-head-top-central .glb-nmh-logo {
    display: block;
    height: 35px;
    margin-left: 5px;
    overflow: hidden;
    padding-left: 0;
    width: 21px;
    position: absolute;
  }
  .sp-head .sp-head-top-central .glb-nmh-logo > img {
    display: block;
    margin-top: -2px;
    width: 150px;
  }
  .sp-head .sp-head-top-central .glb-nmh-menu {
    display: none;
  }
  .sp-head .sp-head-top-central .mbl-menu {
    display: block;
    margin-left: 27px;
    width: auto;
  }
  .sp-head .sp-head-top-central .mbl-menu > ul {
    height: 35px;
  }
  .sp-head .sp-head-top-central .mbl-menu > ul > li:first-child {
    height: 100%;
  }
  .sp-head .sp-head-top-central .mbl-menu > ul > li:first-child > .mbl-search {
    background-position: -39px 6px;
    box-sizing: initial;
    float: left;
    padding: 4px;
    display: none;
  }
  .sp-head .sp-head-top-central .mbl-menu > ul > li:first-child > input {
    border: medium none;
    font-size: 18px;
    margin-top: 2px;
    padding: 5px;
  }
  .sp-head .sp-head-top-central .mbl-menu > ul > li:last-child {
    height: 35px;
    position: absolute;
    right: 0;
    top: 0;
  }
  .sp-head .sp-head-top-central .mbl-menu > ul > li:last-child > .glb-nmh-icon-nav {
    background-image: url("/images/icon-mbl-menu.svg");
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
  }
  .sp-head .sp-head-top-central .mbl-menu > ul > li:last-child > .mbl-nav-dropdown {
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    text-align: right;
    width: 100%;
    z-index: 2;
  }
  .sp-head .sp-head-top-central .mbl-menu > ul > li:last-child > .mbl-nav-dropdown > li {
    font-size: 16px;
    padding: 10px 15px;
  }
  .sp-head .sp-head-top-central .mbl-menu > ul > li:last-child:hover > ul {
    display: block;
  }
  .panel-wrap > .panel > .panel-heading {
    padding: 5px;
  }
  .panel-wrap > .panel > .panel-heading > .panel-title {
    font-size: 14px !important;
  }
  .panel-wrap > .panel > .panel-heading > .nh-panel-setting {
    display: none;
  }
  .panel-wrap > .panel > .panel-heading > .nh-panel-handler {
    display: none;
  }
  .panel-wrap > .panel > .panel-heading > .glb-wdgt-hd-dropdown {
    padding: 7px 15px 7px 5px !important;
    margin-bottom: -10px;
    margin-right: -5px;
    margin-top: -10px;
  }
  .panel-wrap > .panel > .panel-heading > .glb-wdgt-hd-dropdown > .glb-carrot {
    right: 5px;
    top: 13px !important;
  }
  .panel-wrap > .panel > .panel-heading > .glb-wdgt-hd-dropdown > .glb-wdgt-dropdown-list {
    top: 31px !important;
    left: 0px !important;
    box-sizing: border-box !important;
  }
  .panel-wrap > .panel > .panel-body > .panel-one-third-area {
    float: none;
    width: 100%;
  }
}
/** End Responsive **/
/** Global **/
html {
  background-color: #f1f1f1;
}
body {
  line-height: inherit;
  background-color: transparent;
}
ol,
ul {
  margin: 0;
}
a,
img,
fieldset,
div,
span,
ul,
li {
  border: 0px;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
  vertical-align: middle;
}
a,
a:visited,
a:hover,
a:active,
a:focus {
  border: medium none;
  cursor: pointer;
  outline: medium none;
  text-decoration: none;
  color: inherit;
}
/** End of Global **/
/** Header Global **/
.glb-nmh-menu {
  height: 40px;
  margin-right: auto;
  position: absolute;
  right: 0;
  top: 0;
}
.glb-nmh-menu > ul {
  color: #fff;
  display: table;
  float: right;
  font-size: 12px;
  height: 40px;
  list-style: outside none none;
}
.glb-nmh-menu > ul > li {
  color: #000;
  display: table-cell;
  font-size: 14px;
  padding: 5px 15px;
  transition: all 0.2s ease 0s;
  vertical-align: middle;
}
.glb-nmh-menu > ul > .glb-nmh-static {
  padding: 0;
}
.glb-nmh-menu > ul > .glb-nmh-static > input {
  display: table-cell;
  font-size: 14px;
  height: 27px;
  padding-left: 5px;
  vertical-align: middle;
}
.mbl-menu {
  display: none;
}
/** Body Global **/
.container-fluid {
  padding: 0;
}
/** Panel **/
.panel-wrap {
  padding: 20px;
}
.panel-wrap .panel {
  border: none;
  box-shadow: none;
  margin: 0px;
}
.panel-wrap .panel > .panel-heading {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 0;
  padding: 10px 5px;
  font-size: 20px;
  position: relative;
  display: table;
  width: 100%;
}
.panel-wrap .panel > .panel-heading > .panel-title {
  color: inherit;
  display: table-cell;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0;
  vertical-align: middle;
}
.panel-wrap .panel > .panel-heading > .pull-right {
  margin-top: -10px;
  margin-bottom: -10px;
}
.panel-wrap .panel > .panel-heading > .nh-panel-setting {
  padding: 8.5px;
  opacity: 0.4;
  transition: opacity 0.2s ease 0s;
}
.panel-wrap .panel > .panel-heading > .nh-panel-setting > div > .glb-nmh-icon {
  cursor: pointer;
  display: block;
}
.panel-wrap .panel > .panel-heading > .nh-panel-handler {
  padding: 8px;
  margin-right: -5px;
  opacity: 0.4;
  transition: opacity 0.2s ease 0s;
}
.panel-wrap .panel > .panel-heading > .nh-panel-handler > .glb-nmh-icon {
  cursor: move;
}
.panel-wrap .panel > .panel-heading > .nh-panel-setting:hover {
  background-color: #7293d6;
  cursor: pointer;
}
.panel-wrap .panel > .panel-heading > .nh-panel-setting:hover > .dropdown-toggle > .glb-nmh-icon-settings {
  background-position: 3px -124px;
}
.panel-wrap .panel > .panel-heading > .nh-panel-handler:hover {
  background-color: #7293d6;
  cursor: move;
}
.panel-wrap .panel > .panel-heading > .nh-panel-handler:hover > .glb-nmh-icon-draggable-gray {
  background-position: -220px -171px;
}
.panel-wrap .panel > .panel-heading > .glb-wdgt-hd-dropdown {
  padding: 13.5px 20px 13.5px 5px;
  font-size: 14px;
  color: #666;
}
.panel-wrap .panel > .panel-heading > .glb-wdgt-hd-dropdown > .glb-carrot {
  border-color: transparent transparent transparent #000;
  top: 20px;
}
.panel-wrap .panel > .panel-heading > .glb-wdgt-hd-dropdown > .glb-wdgt-dropdown-list {
  box-sizing: initial;
  top: 44px;
}
.panel-wrap .panel > .panel-heading > .glb-wdgt-hd-dropdown:hover {
  color: #fff;
}
.panel-wrap .panel > .panel-heading > .glb-wdgt-hd-dropdown:hover > .glb-carrot {
  border-color: transparent transparent transparent #fff;
}
.panel-wrap .panel > .panel-body {
  padding: 0 5px 5px;
}
.panel-wrap:hover > .panel > .panel-heading > .nh-panel-setting {
  opacity: 1;
}
.panel-wrap:hover > .panel > .panel-heading > .nh-panel-handler {
  opacity: 1;
}
.panel-one-third-area {
  float: left;
  width: 33%;
}
.panel-chart {
  height: 300px;
}
.nh-panel-handler {
  display: inline-block;
  height: 100%;
}
.nh-panel-handler > span {
  display: inline-block;
  vertical-align: middle;
}
