/** Global **/
html{
  background-color: #f1f1f1;
}
body{
  line-height: inherit;
  background-color: transparent;
}
ol, ul{
  margin: 0;
}
a, img, fieldset, div, span, ul, li{
  border: 0px;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
  vertical-align: middle;
}
a, a:visited, a:hover, a:active, a:focus {
  border: medium none;
  cursor: pointer;
  outline: medium none;
  text-decoration: none;
  color: inherit;
}
/** End of Global **/
/** Header Global **/
.glb-nmh-menu{
  height: 40px;
  margin-right: auto;
  position: absolute;
  right: 0;
  top: 0;
  &> ul{
    color: #fff;
    display: table;
    float: right;
    font-size: 12px;
    height: 40px;
    list-style: outside none none;
    &> li{
      color: #000;
      display: table-cell;
      font-size: 14px;
      padding: 5px 15px;
      transition: all 0.2s ease 0s;
      vertical-align: middle;
    }
    &> .glb-nmh-static{
      padding: 0;
      &> input{
        display: table-cell;
        font-size: 14px;
        height: 27px;
        padding-left: 5px;
        vertical-align: middle;
      }
    }
  }
}
/** Body Global **/
.container-fluid{
  padding: 0;
}
/** Panel **/
.panel-wrap{
  padding: 20px;
  .panel {
    border: none;
    box-shadow: none;
    margin: 0px;
    &> .panel-heading {
      background-color: #fff;
      color: #000;
      border: none;
      border-radius:0;
      padding: 10px 5px;
      font-size: 20px;
      position: relative;
      display: table;
      width: 100%;
      &> .panel-title{
        color: inherit;
        display: table-cell;
        font-size: 20px;
        margin-bottom: 0;
        margin-top: 0;
        vertical-align: middle;
      }
      &> .pull-right{
        margin-top: -10px;
        margin-bottom: -10px;
      }
      &> .nh-panel-setting{
        padding: 8.5px;
        opacity: 0.4;
        transition: opacity 0.2s ease 0s;
        &> div{
          &> .glb-nmh-icon{
            cursor: pointer;
            display: block;
          }
        }
      }
      &> .nh-panel-handler{
        padding: 8px;
        margin-right: -5px;
        opacity: 0.4;
        transition: opacity 0.2s ease 0s;
        &> .glb-nmh-icon{
          cursor: move;
        }
      }
      &> .nh-panel-setting:hover{
        background-color: #7293d6;
        cursor: pointer;
        &> .dropdown-toggle{
          &> .glb-nmh-icon-settings{
            background-position: 3px -124px;
          }
        }
      }
      &> .nh-panel-handler:hover{
        background-color: #7293d6;
        cursor: move;
        &> .glb-nmh-icon-draggable-gray{
          background-position: -220px -171px;
        }
      }
      &> .glb-wdgt-hd-dropdown{
        padding: 13.5px 20px 13.5px 5px;
        font-size: 14px;
        color: #666;
        &> .glb-carrot{
          border-color: transparent transparent transparent #000;
          top: 20px;
        }
        &> .glb-wdgt-dropdown-list{
          box-sizing: initial;
          top: 44px;
        }
      }
      &> .glb-wdgt-hd-dropdown:hover{
        color: #fff;
        &> .glb-carrot{
          border-color: transparent transparent transparent #fff;
        }
      }
    }
    &> .panel-body{
      padding: 0 5px 5px;
    }
  }
}
.panel-wrap:hover{
  &> .panel{
    &> .panel-heading{
      &> .nh-panel-setting{
        opacity: 1;
      }
      &> .nh-panel-handler{
        opacity: 1;
      }
    }
  }
}
.panel-one-third-area{
  float: left;
  width: 33%;
}

.panel-chart{
  height: 300px;
}

.nh-panel-handler{
  display: inline-block;
  height: 100%;


  &>span{
    display: inline-block;
    vertical-align: middle;
  }
}