/** Global **/
body {
  line-height: inherit;
}
ol,
ul {
  margin: 0;
}
a,
img,
fieldset,
div,
span,
ul,
li {
  border: 0px;
  transition: background-color 0.2s ease 0s, color 0.2s ease 0s;
  vertical-align: middle;
}
a,
a:visited,
a:hover,
a:active,
a:focus {
  border: medium none;
  cursor: pointer;
  outline: medium none;
  text-decoration: none;
  color: inherit;
}
/** End of Global **/
/** Header Global **/
.glb-nmh-menu {
  height: 40px;
  margin-right: auto;
  position: absolute;
  right: 0;
  top: 0;
}
.glb-nmh-menu > ul {
  color: #fff;
  display: table;
  float: right;
  font-size: 12px;
  height: 40px;
  list-style: outside none none;
}
.glb-nmh-menu > ul > li {
  color: #000;
  display: table-cell;
  font-size: 14px;
  padding: 5px 15px;
  transition: all 0.2s ease 0s;
  vertical-align: middle;
}
.glb-nmh-menu > ul > .glb-nmh-static {
  padding: 0;
}
.glb-nmh-menu > ul > .glb-nmh-static > input {
  display: table-cell;
  font-size: 14px;
  height: 27px;
  padding-left: 5px;
  vertical-align: middle;
}
/** Body Global **/
.container-fluid {
  padding: 0;
}
/** Panel **/
.panel-wrap {
  padding: 20px;
}
.panel-wrap .panel-primary {
  border: none;
  box-shadow: none;
}
.panel-wrap .panel-primary > .panel-heading {
  background-color: #666;
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 10px 5px;
}
.panel-wrap .panel-primary > .panel-heading > .pull-right {
  margin-top: -10px;
  margin-bottom: -10px;
}
.panel-wrap .panel-primary > .panel-heading > .nh-panel-setting {
  padding: 5px;
}
.panel-wrap .panel-primary > .panel-heading > .nh-panel-setting > div > .glb-nmh-icon {
  cursor: pointer;
  display: block;
}
.panel-wrap .panel-primary > .panel-heading > .nh-panel-handler {
  padding: 5px;
  margin-right: -5px;
}
.panel-wrap .panel-primary > .panel-heading > .nh-panel-handler > .glb-nmh-icon {
  cursor: move;
}
.panel-wrap .panel-primary > .panel-heading > .nh-panel-setting:hover {
  background-color: #7293d6;
  cursor: pointer;
}
.panel-wrap .panel-primary > .panel-heading > .nh-panel-handler:hover {
  background-color: #7293d6;
  cursor: move;
}
.panel-wrap .panel-primary > .panel-heading > .glb-wdgt-hd-dropdown > .glb-wdgt-dropdown-list {
  box-sizing: initial;
}
.panel-wrap .panel-primary > .panel-body {
  padding: 0px;
}
.panel-one-third-area {
  float: left;
  width: 33%;
}
.panel-chart {
  height: 300px;
}
.nh-panel-handler {
  display: inline-block;
  height: 100%;
}
.nh-panel-handler > span {
  display: inline-block;
  vertical-align: middle;
}
