<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/lib/jquery-ui/themes/base/jquery-ui.min.css' />
    <link rel='stylesheet' href='/style/site.css' />
    <link rel='stylesheet' href='/style/style.css' />
  </head>
  <body>
    {{>header}}

    {{{body}}}

    {{>footer}}
    {{>template}}
  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <script src="/lib/jquery-ui/jquery-ui.min.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/lib/underscore/underscore-min.js"></script>
  <script src="/lib/backbone/backbone.js"></script>
  <script src="/lib/seajs/dist/sea.js" ></script>
  </body>
</html>
