<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css'/>
    <link rel='stylesheet' href='/lib/jquery-ui/themes/base/jquery-ui.min.css'/>
    <link rel='stylesheet' href='/style/site.css'/>
    <link rel='stylesheet' href='/style/style.css'/>
    <link rel='stylesheet' href='/style/one.css'/>
</head>
<body>
{{>header}}

{{{body}}}

{{>footer}}
{{>template}}
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="/lib/jquery/dist/jquery.min.js"></script>
<script src="/lib/jquery-ui/jquery-ui.min.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/lib/underscore/underscore-min.js"></script>
<script src="/lib/backbone/backbone.js"></script>
<script src="/lib/seajs/dist/sea-debug.js"></script>
<script>
    (function (global) {
        $(function() {
            $('.mbl-nav').click(function (e) {
                $(e.target).parent().find('.mbl-nav-dropdown').css({
                    'padding':'20px',
                    'width':'100%',
                    'height':'100%'
                })
            });
            $('.mbl-nav-close').click(function (e) {
                $(e.target).parent().parent().parent().find('.mbl-nav-dropdown').css({
                    'padding':'0px',
                    'width':'0px',
                    'height':'0px'
                })
            });
        });

        google.load("visualization", "1", {packages:["corechart"]});
        // Set configuration
        seajs.config({
            base: "/app"
        });
        //Top namespace is nh
        var nh = global.nh = {
            name: "nooshHome",
            version: "0.0.1",
            panelSize2Class: {
                "lg": "col-xs-12 col-sm-12 col-md-12 col-lg-12",
                "mid": "col-xs-12 col-sm-12 col-md-6 col-lg-6",
                "sm": "col-xs-12 col-sm-6 col-md-4 col-lg-4"
            }
        };
        /**
         * loadModule
         * @param modules
         * @param after
         * @param len
         */
        nh.loadModule = function (modules) {
            var
                    defer = $.Deferred(),
                    modules = modules || [],
                    len;
            if (!_.isArray(modules)) {
                _.isString(modules) && (modules = {"module": modules});
                modules = [modules];
            }
            len = modules.length;
            $.each(modules, function (k, m) {
                _.isFunction(m["before"]) && m["before"]();
                seajs.use(m["module"], function (mod) {
                    var args = m["arguments"] || [], initObj;
                    if (mod && mod.init) {
                        !_.isArray(args) && (args = [args]);
                        initObj = mod.init.apply(mod, args);
                    }
                    --len || defer.resolve(mod, initObj);
                });
            });
            return defer;
        };

        nh.loadModule("main");

    })(this);

</script>
</body>
</html>
